<div id="sidebar">
  <div class="description order_title">
    <h1><%= @unit.super_unit.title %><%= render "units/admin_panel", :target => @unit.super_unit %></h1>
    <div class="top"></div>
    <div class="menu_wrapper">
      <ul class="menu_about">
        <% @unit.super_unit.units.each do |unit| %>
            <li <%= "class='current'" if unit == @unit %>>
              <%= link_to raw("<span>#{unit.title}</span>"), unit_by_short_url_path(unit.short_url), :class => "order" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>