<%= render "units/about_awards_side_bar" %>



<div id="slider">
  <%= image_tag "1.jpg", :width => 1200, :height => 700 %>
</div>

<script type="text/javascript">
    $(function ChangeWidthHeight() {
        if ($(window).height() > 626) {

        }
        $('#container').css("height", +$(window).height()+'px');
        $('#sidebar').css("height", +$(window).height()+'px');
        $('#slider img').css("height", +$(window).height()+'px');
        $('#container').css("width",+$(window).width()+'px');
        $('#slider img').css("width",+$(window).width()+'px');

    });
    $(function ChangeWidthHeight() {
        $(window).resize(function () {
            if ($(window).height() > 626) {
                $('#container').css("height", +$(window).height()+'px');
                $('#sidebar').css("height", +$(window).height()+'px');
                $('#slider img').css("height", +$(window).height()+'px');

            }
            $('#container').css("width",+$(window).width()+'px');
            $('#slider img').css("width",+$(window).width()+'px');
        });
    });
</script>