<%= render "units/about_awards_side_bar" %>

<div id="partners">
  <% @unit.unit_images.each do |cover| %>
      <div class="partner">
        <%= image_tag cover.image.url(:logo_middle), :alt => cover.title %>
      </div>
  <% end %>
  <% if can?(Unit, :edit) %>
      <div class="partner">
        <%= render "units/admin_panel", :target => @unit %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        awardsWidth = $(window).width() - 410;
        awardsHeight = $(window).height() - 145;

        $("#clients").css("width", awardsWidth);
        $("#clients").css("height", awardsHeight);

        $(window).resize(function () {
            awardsWidth = $(window).width();
            awardsHeight = $(window).height();

            $("#clients").css("width", awardsWidth);
            $("#clients").css("height", awardsHeight);
        });
    });
</script>