<%= render "units/about_awards_side_bar" %>

<div id="awards">
  <% @unit.unit_images.each do |cover| %>
      <div class="award">
        <%= link_to image_tag(cover.image.url(:awards), :alt => cover.title), cover.image.url(), :class => "award-a" %>
        <% if can?(Unit, :edit) %>
            <%= render "units/admin_panel", :target => @unit %>
        <% end %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        awardsWidth = $(window).width();
        awardsHeight = $(window).height();

        $("#awards-big").css("width", awardsWidth);
        $("#awards-big").css("height", awardsHeight);

        $(window).resize(function () {
            awardsWidth = $(window).width();
            awardsHeight = $(window).height();

            $("#awards-big").css("width", awardsWidth);
            $("#awards-big").css("height", awardsHeight);
        });
    });
</script>