<div id="clients">
  <% @unit.unit_images.each do |cover| %>
      <div class="client">
        <%= image_tag cover.image.url(:original), :alt => cover.title %>
      </div>
  <% end %>
  <% if can?(Unit, :edit) %>
      <div class="client">
        <%= render "units/admin_panel", :target => @unit %>
      </div>
  <% end %>
</div>