@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

img {
    border: none;
}

body {
    line-height: 1;
    min-height: 600px;
    overflow: hidden;
}

.fullheight {
    overflow: auto;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
}

html, body {
    font-size: 100%;
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 0;
    margin: 0;
}

body {
    /*min-height: 100%;*/
    /*height: 100%;*/
    min-height: 700px;
    background: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#container {
    /*overflow: hidden;*/
    position: relative;
    /*min-width: 1024px;*/
    /*min-height: 100%;*/
    /*height: 100%;*/
    width: 100%;
    z-index: 1;
}

#header {
    background: url(header.png) repeat-x;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 144;
}

.logo {
    background: url(logo.png) no-repeat;
    width: 164px;
    height: 63px;
    margin-left: 50px;
    float: left;
}

h2 {
    text-align: center;
}

.right_block {
    float: right;
    margin: 17px 50px 0 0;
}

.language {
    float: right;
}

.language li {
    float: left;
    margin-left: 9px;
}

.right_block span {
    background: url(phone.png) no-repeat left 0;
    padding-left: 16px;
    line-height: 15px;
    font-size: 12px;
    color: #000000;
    float: right;
    clear: both;
    margin: 4px 0 0;
}

#sidebar {
    background: url(sidebar.png) repeat;
    width: 224px;
    left: 0;
    top: 69px;
    position: absolute;
    z-index: 121;
    padding: 0 35px 0 50px;
    height: 100%;
    /*min-height: 100%;*/
}

#sidebar_license {
    width: 224px;
    left: 0;
    position: absolute;
    z-index: 5;
    height: 500px;
    padding: 0 35px 0 50px;
}

.about {
    float: left;
    width: 100%;
    margin-top: 21px;
}

.about p, .news p {
    font-size: 11px;
    color: #000000;
    line-height: 13px;
    margin-bottom: 13px;
}

.news {
    float: left;
    width: 100%;
    margin: 20px 0 0;
}

.title_news {
    border-left: 4px solid #b50000;
    padding-left: 20px;
    line-height: 25px;
    float: left;
    color: #000000;
    text-decoration: none;
    clear: both;
    display: block;
    margin-bottom: 10px;
    font-size: 13pt;
}

.news p {
    clear: both;
}

.news p a {
    color: #000;
    text-decoration: underline;
}

.info {
    position: fixed;
    bottom: 34%;
    right: 0;
    z-index: 121;
    display: none;
}

.title_info {
    background: url(more_bg.png) repeat-x 0 0;
    line-height: 44px;
    float: left;
    padding: 0 10px 0 30px;
    font-size: 20px;
    color: #fff;
}

.more {
    background: url(more.png) no-repeat 0 1px;
    width: 100px;
    line-height: 44px;
    float: left;
    color: #000;
    font-size: 13px;
    padding-left: 115px;
    padding-right: 21px;
    text-decoration: underline;
}

.info_portfolio .title_info {
    background: url(more_bg.png) repeat-x 0 -151px;
}

.info_portfolio .more {
    background: url(more.png) no-repeat 0 -44px;
}

.info_news .title_info {
    background: url(more_bg.png) repeat-x 0 -269px;
}

.info_news .more {
    background: url(more.png) no-repeat 0 -89px;
}

.info_order .title_info {
    background: url(more_bg.png) repeat-x 0 -356px;
}

.info_order	.more {
    background: url(more.png) no-repeat 0 -134px;
}

.info_service .title_info {
    background: url(more_bg.png) repeat-x 0 -77px;
}

.info_service .more {
    background: url(more.png) no-repeat 0 -179px;
}

#footer {
    background: url(footer.png) repeat-x;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    padding-top: 6px;
}

#footer ul {
    width: 100%;
    margin: 0 auto 0 50px;
}

#footer ul li {
    float: left;
    width: 13%;
}

#footer ul li a {
    background: url(separator.png) no-repeat right center;
    font-size: 11px;
    color: #000;
    float: left;
    font-size: 11px;
    color: #020202;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

#footer ul li:last-child a {
    background: none;
}

#footer ul li a span {
    text-align: center;
    display: block;
    line-height: 41px;
    margin-bottom: 1px;
}

#footer ul li a.menu:hover span {
    background: url(menu.png) no-repeat center 36px;
}

#footer ul li a.menu_1:hover span {
    background: url(menu1.png) no-repeat center 36px;
}

#footer ul li a.menu_2:hover span {
    background: url(menu2.png) no-repeat center 36px;
}

#footer ul li a.menu_3:hover span {
    background: url(menu3.png) no-repeat center 36px;
}

#footer ul li a.menu_4:hover span {
    background: url(menu4.png) no-repeat center 36px;
}

#footer ul li a.menu_5:hover span {
    background: url(menu5.png) no-repeat center 36px;
}

#footer ul li a.menu_6:hover span {
    background: url(menu6.png) no-repeat center 36px;
}

#footer ul li.current a.menu span {
    background: url(menu_active.png) no-repeat center 36px #eb0008;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_1 span {
    background: url(menu_active.png) no-repeat center 36px #9c00ff;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_2 span {
    background: url(menu_active.png) no-repeat center 36px #5bbd03;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_3 span {
    background: url(menu_active.png) no-repeat center 36px #0036ff;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_4 span {
    background: url(menu_active.png) no-repeat center 36px #ea00ff;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_5 span {
    background: url(menu_active.png) no-repeat center 36px #00a8ff;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer ul li.current a.menu_6 span {
    background: url(menu_active.png) no-repeat center 36px #ff9600;
    color: #fff;
    margin-left: -1px;
    padding-left: 1px;
}

#footer p {
    font-size: 11px;
    color: #3a3a3a;
    float: left;
    margin: 8px 0 0 50px;
}

.social {
    float: right;
    margin-right: 50px;
}

.social a {
    float: left;
    margin: 3px 5px 0;
}

.last {
    width: 14% !important;
}

.no_bg {
    background: none !important;
}

.menu {
    border-bottom: 1px solid #eb0008;
}

.menu_1 {
    border-bottom: 1px solid #9c00ff;
}

.menu_2 {
    border-bottom: 1px solid #5bbd03;
}

.menu_3 {
    border-bottom: 1px solid #0036ff;
}

.menu_4 {
    border-bottom: 1px solid #ea00ff;
}

.menu_5 {
    border-bottom: 1px solid #00a8ff;
}

.menu_6 {
    border-bottom: 1px solid #ff9600;
}

.description h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    text-shadow: 1px 1px #dbdbda;
    margin: 15px 0 0;
}

h1 {
    text-transform: uppercase;
}

.about_title {
    color: #eb0008;
}

.service_title {
    color: #9c00ff;
}

.top {
    background: url(top.png) no-repeat;
    width: 249px;
    height: 16px;
    float: left;
    margin: 15px 0 0 -15px;
}

.bottom {
    background: url(bottom.png) no-repeat;
    width: 249px;
    height: 15px;
    float: left;
    margin-left: -15px;
}

.menu_about {
    float: left;
    width: 100%;
}

.menu_about li {
    float: left;
    width: 237px;
    padding-left: 12px;
    border-bottom: 1px solid #fff;
}

.menu_about li:last-child {
    border: none;
}

.menu_about li a {
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    float: left;
    width: 234px;
}

.menu_about li a span {
    line-height: 26px;
    float: left;
    border-left: 1px solid #fff;
    padding-left: 16px;
}

.menu_about li a:hover span {
    background: url(circle.png) no-repeat left 8px;
}

.no_border {
    border-bottom: 0 !important;
}

.menu_about li a.red {
    border-left: 3px solid #ff1119;
}

.menu_about li.current a.red {
    border-left: 3px solid #ff1119;
    background: #ff1119;
}

.menu_about li a.blue {
    border-left: 3px solid #9c00ff;
}

.menu_about li.current a.blue {
    border-left: 3px solid #9c00ff;
    background: #9c00ff;
}

.menu_about li.current a span {
    background: url(circle.png) no-repeat left -342px !important;
    color: #fff !important;
}

.description {
    float: left;
    width: 100%;
    margin-top: 86px;
}

.description p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 18px;
    color: #000;
}

.back {
    background: url(back.png) no-repeat;
    width: 21px;
    height: 11px;
    display: inline-block;
    margin-left: 5px;
}

.about_title h1 {
    color: #eb0008;
}

.service_title h1 {
    color: #9c00ff;
}

.back_2 {
    background: url(back_2.png) no-repeat;
}

.back_3 {
    background: url(back_3.png) no-repeat;
    margin-left: 5px;
}

.news_title h1 {
    color: #ea00ff;
}

.menu_about li a.blue:hover span {
    background: url(circle.png) no-repeat left -43px;
}

.menu_about li a.new {
    border-left: 3px solid #ea00ff;
}

.menu_about li.current a.new {
    border-left: 3px solid #ea00ff;
    background: #ea00ff;
}

.news_list {
    border-top: 1px solid #fff;
    float: left;
    width: 249px;
    margin: 0 0 0 -12px;
}

.news_list img {
    float: right;
    border: 1px solid #fff;
}

.border_right {
    border-left: 1px solid #fff;
    padding: 15px 0;
    margin-left: 15px;
    width: 218px;
    float: left;
    padding-left: 15px;
}

.border_right span {
    font-size: 11px;
    color: #454545;
    margin-left: 2px;
}

.border_right p {
    font-size: 11px !important;
    line-height: 13px !important;
    margin-left: 2px;
    margin-bottom: 0 !important;
}

.order_title {
    color: #00a8ff;
}

.menu_about li a.order {
    border-left: 3px solid #00a8ff;
}

.menu_about li.current a.order {
    border-left: 3px solid #00a8ff;
    background: #00a8ff;
}

.menu_about li a.order:hover span {
    background: url(circle.png) no-repeat left -243px;
}

.menu_about li a.new:hover span {
    background: url(circle.png) no-repeat left -193px;
}

.poap {
    background: url("poap.png") repeat scroll 0 0 transparent;
    height: 441px;
    margin: 70px auto;
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 665px;
    z-index: 99;
}

.poap form {
    width: 405px;
    margin: 0 auto;
}

.poap  label {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    color: #000;
    float: left;
    width: 100%;
    margin: 10px 0 0;
    text-align: left;
}

.input {
    background: url(input.png) no-repeat;
    width: 395px;
    height: 22px;
    line-height: 22px;
    border: 0;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    color: #000;
    margin: 4px 0 0;
}

.textarea {
    background: url(textarea.png) no-repeat;
    width: 395px;
    height: 100px;
    font-size: 12px;
    color: #000;
    padding: 5px;
    border: 0;
    resize: none;
    margin: 4px 0 0;
}

.button {
    background: url(send.png) no-repeat;
    width: 99px;
    height: 30px;
    text-indent: -9999px;
    border: 0;
    float: right;
    margin: 8px 5px 0 0;
    cursor: pointer;
}

.button:hover {
    background: url(send.png) no-repeat 0 -30px;
}

.poap img {
    border: 1px solid #000;
}

.portfolio_title {
    color: #5bbd03;
}

.menu_about li a.portfolio {
    border-left: 3px solid #5bbd03;
}

.menu_about li.current a.portfolio {
    border-left: 3px solid #5bbd03;
    background: #5bbd03;
}

.menu_about li a.portfolio:hover span {
    background: url(circle.png) no-repeat left -93px;
}

.menu_about ul {
    float: left;
    width: 100%;
    padding: 0;
}

.menu_about ul li {
    padding: 0;
    border: 0;
    margin-bottom: 8px;
}

.menu_about ul li a {
    background: url(circle_green.png) no-repeat left -1px;
    padding-left: 14px;
    text-transform: none;
    line-height: 11px;
}

.menu_about ul li:hover a {
    background: url(circle_green.png) no-repeat left -61px;
    color: #3e7c00;
}

.menu_about ul li ul {
    margin: 12px 0 0px 10px;
}

.menu_about ul li ul {
    display: none;
}

.menu_about ul li:hover ul {
    display: block;
}

.menu_about ul li ul li {
    padding: 0 0 0 5px;
}

.menu_about ul li ul li a {
    background: url(square.png) no-repeat left 3px !important;
    color: #000000 !important;
    padding-left: 8px;
}

.menu_about ul li ul li a:hover {
    background: url(square.png) no-repeat left -24px !important;
    color: #454545 !important;
}

.menu_about  li .border_right a {
    width: auto !important;
}

.menu_about  li .border_right img {
    margin-bottom: 10px;
}

.menu_wrapper {
    height: auto;
    overflow: hidden;
    width: 248px !important;
    margin-left: -15px;
}

.menu_wrapper .bottom {
    margin-left: 0px;
}

.contact_title h1 {
    color: #ff9600;
}

.contact span {
    border-left: 3px solid #ff9600;
    float: left;
}

.contact_box {
    border-left: 1px solid #fff;
    float: left;
    padding: 5px 0 0 20px;
}

.contact_box p {
    margin-bottom: 5px !important;
}

.contact_box:hover {
    background: url(circle.png) no-repeat left -262px;
    cursor: pointer;
}

.text {
    margin-left: 15px;
}

#cuselFrame-post_created_at_3i, #cuselFrame-post_created_at_2i, #cuselFrame-post_created_at_1i {
    margin-right: 13px;
}

.cusel-scroll-wrap span {
    font-size: 12px !important;
}

.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
    background-image: url(selects-gree.png) !important;
}

.cusel {
    background-position: left top;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    max-width: 190px;
    position: relative;
    z-index: 1;
    float: left;
    margin: 5px 0 13px 0;

}

.cuselFrameRight {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -9px;
    height: 100%;
    width: 38px;
    background-position: right top;
}

.cuselText {
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-left: 10px;
    left: 0;
    font-size: 13px;
}

* html .cuselText {
    height: 24px;
}

.cusel span {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: block;
    height: 24px;
    margin-bottom: 0;
    padding: 0 15px 0 8px;
    white-space: nowrap;
}

.cusel span:hover,
.cusel .cuselOptHover {
    background: #e1e1e1;
    color: #fff;
}

.cusel .cuselActive {
    background: #000000;
    color: #fff;
    cursor: default;
}

.cuselOpen {
    z-index: 999;
}

.classDisCusel .cuselText {
    cursor: default;
}

.cusel .cusel-scroll-wrap {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 15px;
    top: 100%;
    min-width: 100%;
    width: auto;
    font-size: 12px !important;
    padding-top: 7px;
}

.cusel .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 5;
    border: 1px solid #999;
}

.cusel .jScrollPaneTrack {
    height: 100%;
    width: 2px !important;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 4px;
}

.cusel .jScrollPaneDrag {
    position: absolute;
    background-position: -40px -24px;
    cursor: pointer;
    width: 10px !important;
    height: 18px !important;
    right: -4px;
}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.cusel .jScrollArrowUp {
    position: absolute;
    top: 0;
    right: 2px;
    width: 7px !important;
    height: 12px;
    cursor: pointer;
    background-position: -2px -26px;
    overflow: hidden;
}

.cusel .jScrollArrowDown {
    width: 8px !important;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -26px;
    overflow: hidden;
}

.cusel-scroll-pane {
    columns: 150px auto;
    overflow: hidden;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #000;

    -webkit-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.5);
}

.current ul li .cusel {
    margin-top: -5px;
}

.edit_form {
    margin: 0 auto;
    /*overflow: auto;*/
    padding: 70px 13px !important;
    position: relative !important;
    width: 620px !important;
    -webkit-box-shadow: 5px 1px 21px 3px;
    box-shadow: 5px 1px 21px 3px;
}

.field {
    min-height: 60px;
}

.field input[type="checkbox"] {
    margin-top: 9px;
}

.field input[type="text"], .field input[type="number"] {
    border: 1px solid #D5D5D5;
    font-size: 21px;
    height: 28px;
    line-height: 28px;
    margin: 5px 0 13px 0;
    padding: 0 5px;
    width: 98%;
    box-sizing: border-box;
}

.field .description {
    border: 1px solid #D5D5D5;
    font-size: 18px;
    height: 89px;
    line-height: 28px;
    margin: 5px 0 13px 0;
    padding: 0 5px;
    width: 98%;
    box-sizing: border-box;
}

.half {
    float: left;
    margin-right: 34px;
    width: auto;
}

.clear {
    clear: both;
}

.panel-admin {
    float: right;
}

.panel-admin ul li {
    float: left;
    width: auto;
    border: none;
    margin: 0;
}

#notice {
    font-size: 13pt;
    padding: 21px 0;
    background: #EEEEEE;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;

    /*text-shadow: 0px 1px 1px #11FF17;*/
    /*filter: dropshadow(color = #11FF17, offx = 0, offy = 1);*/

    left: 51%;
    margin-left: -210px;

    top: 50%;
    margin-top: -34px;

    position: absolute;
    text-align: center;
    width: 400px;
    z-index: 1000;

    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;

    -webkit-box-shadow: 2px 5px 8px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 5px 8px 5px rgba(0, 0, 0, 0.3);
}

.devise form input[type="email"], .devise form input[type="password"], .devise form input[type="checkbox"] {
    margin: 0 auto;
    width: 55%;
    border: 1px solid #9C00FF;
    display: block;
    height: 34px;
    margin: 0 auto;
}

.devise form label, .devise form i, .devise p, .devise h3 {
    margin: 13px auto 8px auto;
    width: 55%;
    display: block;
}

.devise form input[type="submit"], .actions input[type="submit"] {
    -webkit-border-radius: 21px;
    border-radius: 21px;
    display: block;
    height: 34px;
    margin: 34px auto;
    border: 1px solid #9C00FF;
}

/*SLIDER*/
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(pattern.png) repeat top left;
}

@-webkit-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation {
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	}
	25% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation {
	0% {
	    opacity: 0;
	}
	8% {
	    opacity: 1;
	}
	17% {
	    opacity: 1;
	}
	19% {
	    opacity: 0;
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
	0% {
	    opacity: 0;
	}
	8% {
	    opacity: 1;
	}
	17% {
	    opacity: 1;
	}
	19% {
	    opacity: 0;
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
	0% {
	    opacity: 0;
	}
	8% {
	    opacity: 1;
	}
	17% {
	    opacity: 1;
	}
	19% {
	    opacity: 0;
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
	0% {
	    opacity: 0;
	}
	8% {
	    opacity: 1;
	}
	17% {
	    opacity: 1;
	}
	19% {
	    opacity: 0;
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation {
	0% {
	    opacity: 0;
	}
	8% {
	    opacity: 1;
	}
	17% {
	    opacity: 1;
	}
	19% {
	    opacity: 0;
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}

.sl-descr {
    float: right;
}