<ul class="margin_top_55 menu_about">
  <% if user_signed_in? %>
      <li class="contact">
        <span>
            <div class="contact_box">
              <h4><%= current_user.email %></h4>
            </div>
        </span>
      </li>
      <li class="contact">
        <span>
            <div class="contact_box">
              <h4>
                <%= link_to "#{t('devise.sessions.my')}", "/users/edit" %>
              </h4>
            </div>
        </span>
      </li>
      <li class="contact">
        <span>
            <div class="contact_box">
              <h4><%= link_to t("devise.sessions.sign_out"), destroy_user_session_path, :method => :delete %></h4>
            </div>
        </span>
      </li>
      <li class="contact">
        <span>
            <div class="contact_box">
              <h4><%= link_to "Общий список страниц", units_path %></h4>
            </div>
        </span>
      </li>
  <% end %>
</ul>