<div id="header">
  <%= link_to "", root_path, :class => "logo" %>
  <div class="right_block">
    <ul class="language">
      <% Language.collection.each do |locale| %>
          <li><%= link_to image_tag("#{locale.cut}.png", :alt => locale.name), "/language/#{locale.cut}" %></li>
      <% end %>
    </ul>
    <%= link_to t('backend.actions.edit'), edit_welcome_path(@welcome), :class => "ui-icon ui-icon-pencil", :title => t('backend.actions.edit') if can?(Welcome, :edit) %>

    <span>
      <%= @welcome.phone %>
    </span>
  </div>
</div>
