<div id="sidebar" style="left: -400px;">
  <div class="about">
    <%= raw @welcome.description %>
  </div>
  <!--end about-->
  <% unless @last_news.nil? %>
      <div class="news">
        <%= link_to @last_news.title, unit_by_short_url_path(@last_news.short_url), :class => "title_news" %>
        <p><%= @last_news.description %> &#133;<%= link_to "подробно", unit_by_short_url_path(@last_news.short_url) %></p>
      </div>
  <% end %>
</div><!--end sidebar-->
