<div id="sidebar" style="left: -400px;">
  <div class="about">
    <p>   Компания ДАРТ ЭКСПО работает на рынке выставочных услуг с 2000  года.
      За эти годы компания выработала определенные представления о том, как надо организовать рабочий процесс чтобы получить отличный результат, воспитала отличный персонал и создала достаточно сильную производственно-складскую базу.</p>

    <p>В настоящий момент цель нашей компании – лидирующие позиции на рынке, основу которой составляют индивидуальный подход и качественное воплощение проектов  для каждого из наших клиентов. И поверьте, у нас есть все чтобы осуществить задуманное. </p>

    <p>Четкое и налаженное взаимодействие всех подразделений компании, технологии и оборудование, используемые в работе,  правильно подбираемые материалы, позволяют предоставить нашим клиентам гибкие объективные цены, исключительно высокое качество и  точные сроки  выполнения проектов. </p>
  </div><!--end about-->
  <div class="news">
    <a href="#" class="title_news"> Последняя новость</a>
    <p>Мощная материально-техническая база, профессиональные кадровые ресурсы,  безукоризненное выполнение всех взятых на себя обязательств – фундаментальные  принципы...<a href="#">Подробнее</a></p>
  </div>
</div><!--end sidebar-->
