<div id="slider">
  <% [1, 2, 3, 4, 5].each do |i| %>
      <div class="slide slide<%= i %> <%= "cs-activeSlide" if i == 1 %>"><%= image_tag "#{i}.jpg", :alt => "slide#{i}" %></div>
  <% end %>
</div>