<div id="slider">
  <% @top.each_with_index do |unit, i| %>
      <div class="slide slide<%= i %> <%= "cs-activeSlide" if i == 1 %>"><%= image_tag unit.get_cover.image(:preview_item), :alt => unit.get_cover.title %></div>
  <% end %>
</div>