<a id="slide-next" href="#"></a>
<a id="slide-prev" href="#"></a>

<div id="slider">
  <% @top.each_with_index do |unit, i| %>
      <% unit.get_covers.each_with_index do |cover, j| %>
          <div class="slide <%= "cs-activeSlide" if i == 0 && j == 0 %>">
            <%= image_tag cover.image.url(:big), :alt => cover.title || unit.title %>
          </div>
      <% end %>
  <% end %>
</div>